:root {
  --header-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6b62ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
}

p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #212529;
  line-height: 30px;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

.homepage-hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.homepage-hero p {
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}
.homepage-hero h1 {
  font-size: 96px;
  font-weight: bold;
  color: black;
}

.homepage-hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: black;
}

.btn-branding {
  padding: 15px 30px;
  background-color: var(--branding-color);
  color: white;
  margin-top: 35px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border-radius: 4px;
}

.btn-branding:hover {
  background-color: var(--branding-color);
  color: #272142;
}

.project-description {
  padding: 120px 60px;
}

.project-description p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #272142;

  line-height: 30px;
  margin-top: 50px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;

  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 27px;
}

.btn-branding-outline:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: #272142;
}

.aboutpage-hero {
  padding: 160px 120px;
}

.aboutpage-hero h1 {
  font-size: 64px;
  font-weight: bold;
}

.aboutpage-hero h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.aboutpage-hero p {
  text-align: left;
  line-height: 30px;
  color: #212529;
}

.about-description {
  padding: 10px;
  margin-top: 30px;
  margin-left: -20px;
  margin-right: 10px;
}
.btn-aboutpage {
  margin-left: -15px;
  margin-top: 15px;
}

@media (max-width: 900px) {
  body {
    width: 100%;
    text-align: center;
  }
  .homepage-hero {
    padding: 80px 20px;
  }

  .homepage-hero h1 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  .homepage-hero h2 {
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .my-5 {
    margin: 48px;
  }

  .project-description {
    margin: 0;
    padding: 0;
  }

  .project-description p {
    text-align: center;
  }

  .aboutpage-hero {
    margin-left: 10px;
    padding: 0 20px 0 20px;
  }

  .aboutpage-hero h1 {
    padding: 20px;
    font-size: 64px;
    line-height: 80px;
  }

  .aboutpage-hero h2 {
    font-size: 18px;
    line-height: 30px;
  }
  .aboutpage-hero p {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }

  .btn-aboutpage {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
